@model IEnumerable<LaCroute.Models.BookingModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="text-center">

        <div class="linkcontainer">
            <a class="btn link" asp-area="" asp-controller="Home" asp-action="index">Retour au site</a>
        </div>

        <h1>Réservations</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Heure
                    </th>
                    <th>
                        Nom
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td class="p-2">
                            <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-admin">Editer</a>
                            <a asp-action="Details" asp-route-id="@item.id" class="btn btn-admin">Détails</a>
                            <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-admin">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>