@model IEnumerable<LaCroute.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="text-center">

        <div class="linkcontainer">
            <a class="btn link" asp-area="" asp-controller="Menu" asp-action="index">Voir le menu</a>
        </div>

        <h1>Menu</h1>

        <p>
            <a asp-action="Create" class="btn btn-admin">Ajouter un produit</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Type
                    </th>
                    <th>
                        Intitulé
                    </th>
                    <th>
                        Au menu
                    </th>
                    @* <th>
                    Actions Menu
                    </th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var produit in Model)
                {
                    <tr>
                        <td>
                            @if (produit.Type != null)
                            {
                                <span>@produit.Type.Title </span>
                            }
                            else
                            {
                                <span>Aucun</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => produit.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => produit.IsAvailable)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@produit.Id" class="btn btn-admin">Editer</a>
                            <a asp-action="Details" asp-route-id="@produit.Id" class="btn btn-admin">Détails</a>
                            <a asp-action="Delete" asp-route-id="@produit.Id" class="btn btn-admin">Supprimer</a>
                        </td>
                        @* <td>
                            <ul>
                                @if (produit.ProductLabel != null)
                                    @foreach (var productLabel in produit.ProductLabel)
                                    {
                                        <li>@productLabel.Label.Title</li>
                                    }
                            </ul>
                        </td> *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>