@model IEnumerable<LaCroute.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="text-center">

        <h1>Produits</h1>

        <p>
            <a asp-action="Create" class="btn btn-admin">Ajouter un produit</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Intitulé
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Prix
                    </th>
                    <th class="col-photo">
                        Photo
                    </th>
                    <th>
                        Date de création
                    </th>
                    <th>
                        Date de mise à jour
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td class="text-truncate" style="max-width: 150px;">
                            @Html.DisplayFor(modelItem => item.Thumbnail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created_at)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updated_at)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-admin mb-2">Editer</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-admin mb-2">Détail</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-admin">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>