@model IEnumerable<LaCroute.Models.ProductLabelModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="text-center">

        <div class="linkcontainer">
            <a class="btn link" asp-area="" asp-controller="Menu" asp-action="index">Voir le menu</a>
        </div>

        <h1>Relations Produit/Label</h1>

        <p>
            <a asp-action="Create" class="btn btn-admin">Attribuer un label à un produit</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Produit
                    </th>
                    <th>
                        Label
                    </th>
                    <th>
                        Menu Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produit in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => produit.Product.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => produit.Label.Title)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@produit.Id" class="btn btn-admin">Editer</a>
                            <a asp-action="Details" asp-route-id="@produit.Id" class="btn btn-admin">Détail</a>
                            <a asp-action="Delete" asp-route-id="@produit.Id" class="btn btn-admin">Supprimer</a>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
